@import url('https://fonts.googleapis.com/css?family=Rubik');
html {
  scroll-behavior: smooth;
  scroll-padding: 70px;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
}

.heading {
  font-size: 3rem;
  font-weight: 500;
  margin: 0;
}

.full-width {
  flex: 1 0 100%;
  align-self: flex-start;
}
.greeting {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

.full-height {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  height: calc(100dvh - 68px);
}

.contact-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.CardContainer {
  padding: 15px 20px;
  border-radius: 18px;
  background: #1e1e1e;
  box-shadow: -7px -7px 11px #191919, 7px 7px 11px #232323;
  margin-top: 1rem;
  aspect-ratio: 1/1;
  width: 350px;
}
.CardContainer > div > ul {
  text-align: left;
}

.contact-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.contact-card section {
  width: 100%;
  text-align: center;
}
